# Smart Book Q&A Crew - Dependencies
python-dotenv
crewai
langchain
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-groq
langchain-community
chromadb
pypdf
streamlit
